.page-header {
    color: white;
    background-color: #174757; 
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    min-width: 800;
    text-decoration: none;
}


.bold {
    font-weight: bold;
}

.red {
    color: #800000;
}