{% extends 'maps/base.html' %}
{% load staticfiles %}

{% block body %}

<html>
<head>
    <style>
        #container {
            margin-left: 25px;
            margin-bottom: 0px;
            font-family: Helvetica, sans-serif;
        }
        #color-matrix {
            display: block;
            margin-right: 30px;
            float: left;
            margin-top: 0px;
        }
        p #block {
            margin-bottom: 20px;
            clear: right;
        }
    </style>
</head>

<body>
    <div id="container">
        <h2>Documentation & Motivation: </h2>
        
        <p id="block"> It is well documented that health measures tend to be highly correlated – whether through causal mechanisms (e.g. preterm births and low birth weight) or confounding variables (smoking elevates the risk of both stroke and lung cancer). Likewise, health has a strong societal component: individuals in economically disadvantaged areas often lack access to health services and report overall poorer health behaviors and outcomes.</p>
        <p id="block">The goal of <b>Healthy Neighborhoods</b>, then, is a more careful examination of these relationship between health and socioeconomic indicators in the city of Chicago.<p>
		<p>To begin this analysis, we pulled 27 public health variables from the City of Chicago’s open data portal for each of the city’s 77 community areas. We divide each variable’s range into thirds, and, for every user-entered variable pair, construct a color relationship matrix (see below).</p>

        <div id="color-matrix"><img src="{% static "maps/color_matrix.png" %}" alt="Color matrix" width="350" height="300" align="middle"/></div>

        <p id="block">Areas for which data is missing on one or both variables appear as gray. In this way, each neighborhood is classified in the two-dimensional space of either selected variable’s range. From these rankings, we construct a scatter plot and geographic heat map.</p>
        <p id="block">Looking at these visuals, a user can identify correlations between health and socioeconomic indicators. Moreover, by mapping the interactions of two variables, user can look for areas of concentrated disadvantage in the city, as well as neighborhoods that exhibit anomalous interactions. These relationships form a foundation from which a narrative of public health opportunities and outcomes can be built.</p>
    </div>
</body>
</html>

{% endblock %}