{% load staticfiles %}

<html>
    <head>
        <!-- Install Bootstrap -->
        <link1 rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link1 rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Load static file -->
        <link rel="stylesheet" href="{% static 'maps/main.css' %}">

        <!-- Install font -->
        <link href='https://fonts.googleapis.com/css?family=Rubik:400,700' rel='stylesheet' type='text/css'>


        <!-- Dropdown bar -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <title>Healthy Neighborhoods</title>
    

    <style>



    h1{
        color: white;

        font-family: 'Rubik', sans-serif;

        margin-bottom: 0px;
    }
    h4 {
        color: white;

        font-family: 'Rubik', sans-serif;

        text-align: right;
        margin-right: 15px;
        margin-bottom: 0px;
        margin-top: 0px;
    }


    </style>
    </head>

    <body>
        <div class = "page-header">
                    <a href = "{% url 'home' %}" style="text-decoration:none"><h1>Healthy Neighborhoods</h1></a>
                    <a href = "{% url 'documentation' %}" style="text-decoration:none"><h4>Documentation</h4></a>
        </div>
    

    {% block body %}

    {% endblock %}

    </body>

</html>