{% include 'maps/healthy_neighborhoods_base.html' %}
{% load staticfiles %}

{% block body %}

<html>
<head>

</head>

<body>
    <div id="selection-bar">
        <h2>Or, explore the data: </h2>
        
        <form method="post">
            {% csrf_token %}
            <input type="submit" name="ex_1" value="Lead Risk" id="button" />
            <input type="submit" name="ex_2" value="Concentrated Disadvantage" id="button" />
            <input type="submit" name="ex_3" value="Kids and Guns" id="button" />
        </form>

    </div>
</body>
</html>

{% endblock %}