{% extends 'maps/base.html' %}
{% load staticfiles %}

{% block body %}

	<p>Select your variable: </p>



<!--
<form class ="drop_down_menu">
	<select name="x">
		<option>A</option>
		<option>B</option>
		<option>C</option>
	</select>
</form>

<form class ="drop_down_menu">
	<select name="y">
		<option>A</option>
		<option>B</option>
		<option>C</option>
	</select>
</form>
 -->

 <!-- Map -->
    <style>
      #map {
        width: 100%;
        height: 80%;
        position: absolute;
        left: 200px;
        top: 300px;

      }
    </style>

<!--
  <body>
    <div id = "map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 41.847, lng: -87.642},
          //center: new google.maps.LatLng(-19.2577, 146.8236),
          zoom: 11
        });

        // KML map layer
        var kmlLayer = new google.maps.KmlLayer("https://sites.google.com/site/chihealthyneighborhoods/kml-links/Boundaries%20-%20Community%20Areas%20%28current%29.kml", {
        
        //var kmlLayer = new google.maps.KmlLayer("https://www.dropbox.com/s/gwc3aj01jvr9j2m/test_doc.kml?dl=0", {
        //var kmlLayer = new google.maps.KmlLayer("http://chicagomap.zolk.com/sources/neighborhoods/source.kml", {
        //var kmlLayer = new google.maps.KmlLayer("https://developers.google.com/maps/tutorials/kml/westcampus.kml", {
        	supressInfoWindows: true,
        	preserveViewport: true,
        	map: map
        });

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
  </body>
-->


<body>
    <div id="map"></div>
    <script>



      // This example creates a simple polygon representing the Bermuda Triangle.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.847, lng: -87.642},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });


          // Define the LatLng coordinates for the polygon's path.
          var triangleCoords = [
            {lat: 25.774, lng: -80.190},
            {lat: 18.466, lng: -66.118},
            {lat: 32.321, lng: -64.757},
            {lat: 25.774, lng: -80.190}
          ];

          // Construct the polygon.
          var neighborhoodPolygon = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            name: "Red"
          });
          neighborhoodPolygon.setMap(map);

          var triangleCoords = [
            {lat: 35.774, lng: -80.190},
            {lat: 28.466, lng: -66.118},
            {lat: 42.321, lng: -64.757},
            {lat: 35.774, lng: -80.190}
          ];

          // Construct the polygon.
          var neighborhoodPolygon = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: 'blue',
            fillOpacity: 0.35,
            name: "Blue"
          });
          neighborhoodPolygon.setMap(map);

          
          {% for neighborhood, keys in neighborhoods.items %}
            //var name = {{neighborhood|safe}};

            var clr = {{keys.clr|safe}}



            var coordinate_list = {{keys.cords|safe}};
            
            var arr = [];
            
            for (var i = 0; i < coordinate_list.length; i++) {
              arr.push(new google.maps.LatLng(coordinate_list[i][0], coordinate_list[i][1]));
            }



    
            // Looped polygon.
            var neighborhoodPolygon = new google.maps.Polygon({
              paths: arr,
              strokeColor: 'dimgray',
              strokeOpacity: .75,
              strokeWeight: 2,
              fillColor: clr,
              fillOpacity: .70,
            });
            neighborhoodPolygon.setMap(map);
            {% endfor %}
      }

    </script>
      

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVBQupglb_52iL3cHJO5ee-AiqHRCsoXU&callback=initMap">
                                          //API keyL AIzaSyCVBQupglb_52iL3cHJO5ee-AiqHRCsoXU
    </script>
  </body>

<!-- Dropdown bar -->

<!--
	<div class = "dropdown">
		<button class = "btn btn-primary dropdown-toggle" type = "button" data-toggle = "dropdown" >Variable 1
		<span class ="caret"></span></button>
		</button>
		<ul class="dropdown-menu">
			{% for variable in form %}
				<li>{{variable}}</li>
			{% endfor %}
		</ul>
	</div>
-->
<!--
<div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
           <span data-bind="label">Select One</span>
         </button>
         <ul class="dropdown" role="menu">
             {% for variable in form %}
                 <li>{{ variable }}</li>
             {% endfor %}
         </ul>
      </div>
-->
<form method ="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="Submit"/>
</form>

{% endblock %}