{% include 'maps/healthy_neighborhoods_start.html' %}
{% load staticfiles %}

{% block body %}


 <!-- Map -->
    <style>
      
           #scatter-plot {
        width: 45%;
        height: 500px;
        top: 30px;
        display: inline-block;
        border-style: solid;
      }




      #map {
        width: 45%;
        height: 800px;
        padding-left: 8%;
        border-style: solid;
        display: inline-block;
      }


    </style>


<body>


    <div id = "scatter-plot">
        <a href="https://plot.ly/~trashpanda2000/2/" target="_blank" title="xpectancy v. Per Capita GDP, 2007" style="display: block; text-align: center;"><img src="https://plot.ly/~trashpanda2000/2.png" alt="xpectancy v. Per Capita GDP, 2007" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="trashpanda2000:2"  src="https://plot.ly/embed.js" async></script>
    </div>



    <div id = "map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.847, lng: -87.642},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });



          {% for name, keys in neighborhoods.items %}
            var clr = {{keys.clr|safe}};

            var coordinate_list = {{keys.cords|safe}};
            
            var arr = [];           
            for (var i = 0; i < coordinate_list.length; i++) {
              arr.push(new google.maps.LatLng(coordinate_list[i][0], coordinate_list[i][1]));
            }
    
            // Looped polygon.
            var neighborhoodPolygon = new google.maps.Polygon({
              paths: arr,
              strokeColor: 'dimgray',
              strokeOpacity: .75,
              strokeWeight: 2,
              fillColor: clr,
              fillOpacity: .70,
            });
            
            getInfoWindow(neighborhoodPolygon, {{keys.neighborhood|safe}});
            neighborhoodPolygon.setMap(map);

        
            // Add a listener for the click event.
            //google.maps.event.addListener(neighborhoodPolygon, 'click', function (event) {
            //  var latLng = event.latLng;
            //  neighborhoodPolygon.infoWindow.setPosition(event.latLng);
            //  polygon.infoWindow.open(map);
            //  alert(this.neighborhood);
          //});


            {% endfor %}



        function getInfoWindow(polygon, info) {
          polygon.infoWindow = new google.maps.InfoWindow({
            content: '<b>' + info + '</b>',
          });
          google.maps.event.addListener(polygon, 'click', function(event) {
            var latLng = event.latLng;
            polygon.infoWindow.setPosition(latLng);
            polygon.infoWindow.open(map);
          });
        }



      }
    </script>
      

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVBQupglb_52iL3cHJO5ee-AiqHRCsoXU&callback=initMap">
                                          //API keyL AIzaSyCVBQupglb_52iL3cHJO5ee-AiqHRCsoXU
    </script>




<!--

  {% if coef != "1.000" %}
    <p>The correlation coefficient between <b>{{variables.0}}</b> and <b>{{variables.1}}</b> is {{coef}}.</p>
  {% endif %}
    <p> Here is the color matrix: </p>
    <img src="{% static "maps/color_matrix.png" %}" alt = "Color matrix" id = color-matrix/>

-->
  </body>

<!-- Dropdown bar -->

<!--
	<div class = "dropdown">
		<button class = "btn btn-primary dropdown-toggle" type = "button" data-toggle = "dropdown" >Variable 1
		<span class ="caret"></span></button>
		</button>
		<ul class="dropdown-menu">
			{% for variable in form %}
				<li>{{variable}}</li>
			{% endfor %}
		</ul>
	</div>
-->
<!--
<div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
           <span data-bind="label">Select One</span>
         </button>
         <ul class="dropdown" role="menu">
             {% for variable in form %}
                 <li>{{ variable }}</li>
             {% endfor %}
         </ul>
      </div>
-->

{% endblock %}





<!--http://www.cleancss.com/css-beautify/-->